
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="profileImage"></div>
    <mat-card-title>Ray Lin Honghu</mat-card-title>
    <mat-card-subtitle>Victoria Boardcast</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf = "chart">
    <canvas id="canvas" width="700px">
      {{chart}}
    </canvas>
  </div>
  <mat-card-content>
    <p>
      “Partly cloudy in the evening, becoming cloudy overnight.
        Low around 55 F. Winds S at 5 to 10 mph. Sun may give way
        to rain for this evening, with a 10 percent chance of precipitation
        and a low of 50 degrees. Winds are expected to remain calm at 9 mph.
        Clear with cloudy periods; a slight chance of showers or thundershowers.
        Mostly clear with showers likely. Slight chance of a thunderstorm.
        3 to 6 mm of rain.”
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn">
      <mat-icon>favorite</mat-icon>LIKE
    </button>
    <button mat-button>
      <mat-icon>share</mat-icon>SHARE
    </button>
  </mat-card-actions>
</mat-card>
