
<mat-card>
  <mat-card-header>
    <mat-card-title>WEATHER FEATURE LOOKUP</mat-card-title>
    <mat-card-subtitle>Click on features and display their weights</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf = "chart">
    <canvas id="canvas" width="1000px">
      {{chart}}
    </canvas>
  </div>

  <mat-card-actions>
    <button mat-fab color="primary">
      TEMP_MAX
    </button>
    <button mat-fab>
      TEMP_MIN
    </button>
    <button mat-fab>
      HUMIDITY
    </button>
    <button mat-fab>
      PRESSURE
    </button>
    <button mat-fab>
      SEA-LEVEL
    </button>
  </mat-card-actions>
</mat-card>
